#ajax-table {
  margin-bottom: 25px;
}

/* #Argentina {
  position: absolute;
  top: 25%;
  left: 10%;
  background: #fff;
  border: 1px solid;
  box-shadow: 5px 5px 5px #ddd;
}

.hidden {
  visibility: hidden;
} */